<app-big-circle></app-big-circle>

<router-outlet></router-outlet>

<nav>
    <button class="icon"><fa-icon [icon]="faCog"></fa-icon></button>
    <button class="icon"><fa-icon [icon]="faGitlab"></fa-icon></button>
    <button class="icon"><fa-icon [icon]="faHandHoldingUsd"></fa-icon></button>
    <button class="icon"><fa-icon [icon]="faInfoCircle"></fa-icon></button>
</nav>