<svg viewBox="-50 -50 100 100">
    <defs>
        <mask id="board">

            <circle r="50%" fill="white" />
        
            <g transform="scale(0.5)translate(30,30)">
                <line *ngFor="let line of [1,2,3,4,5]"
                    [attr.x1]="'-50%'"
                    [attr.y1]="'-50%'"
                    [attr.x2]="'50%'"
                    [attr.y2]="'-50%'"
                    stroke="black"
                    stroke-width=".15em"
                    stroke-linecap="round"
                />
            </g>

        </mask>
    </defs>

    <circle r="50%" mask="url(#board)" />

</svg>