<p *ngIf="!(data$ | async)">Loading...</p>

<p *ngIf="data$ | async as data">Welcome to game {{ data.game_id }}</p>

<p>Get into the console and use `gameService` to play your game :)</p>

<!-- Let's construtct a board! -->

<table class="board">
    <tr *ngFor="let row of (board$ | async)">
        <td *ngFor="let point of row" [class.black]="point == 1" [class.white]="point == 2"></td>
    </tr>
</table>
