.board {
    background-color: beige;
    border-collapse: collapse;
    table-layout: fixed;

    width: 100%;
    // padding-top: 100%;

    td {
        // padding-top: 100%;
    }

    .black {
        background-color: black;
    }

    .white {
        background-color: white;
    }
}





// .board {
//     width: 100%;
//     max-width: calc(3em * var(--cols));
//     padding: 10px;
//     box-sizing: border-box;

//     /* Options */
//     --gt: 2px;      /* Gridlines Thickness */
//     --gc: black;  /* Grid Color */
//     --sr: 6px;      /* Star Radius */

//     /* Default */
//     --cols: 19;
//     --rows: 19;
//     --star: 3;

//     /* Calculated Variables */
//     --col-size:     calc( 1 / (var(--cols) - 1) * (100% - var(--gt)));
//     --row-size:     calc( 1 / (var(--rows) - 1) * (100% - var(--gt)));
//     --back-width:   calc( (var(--cols) - 1) / var(--cols) * 100% + var(--gt));
//     --back-height:  calc( (var(--rows) - 1) / var(--rows) * 100% + var(--gt));
//     --star-posH:    calc(var(--star) * var(--col-size) + var(--gt) / 2);
//     --star-posV:    calc(var(--star) * var(--row-size) + var(--gt) / 2);

//     /* Re-used Gradients */
//     --star-grad: var(--gc) var(--sr), transparent var(--sr);
//     --line-grad: var(--gc), var(--gc) var(--gt), transparent var(--gt), transparent;

//     /* Grid and Lines */
//     display: inline-grid;
//     grid-template:
//         repeat(var(--rows), 1fr) /
//         repeat(var(--cols), 1fr);
//     grid-auto-rows: 0;
//     background-size:
//         var(--back-width)
//         var(--back-height);
//     background-origin: content-box;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-color: burlywood;
//     background-image:
//         /* Vertical and Horizontal Grid Linse */
//         repeating-linear-gradient(to right, var(--line-grad) var(--col-size)),
//         repeating-linear-gradient(to bottom, var(--line-grad) var(--row-size)),

//         /* tengen (middle) point */
//         radial-gradient(circle,                                                                var(--star-grad)),

//         /* hoshi (star) points corners */
//         radial-gradient(circle at var(--star-posH)              var(--star-posV),              var(--star-grad)),
//         radial-gradient(circle at calc(100% - var(--star-posH)) var(--star-posV),              var(--star-grad)),
//         radial-gradient(circle at var(--star-posH)              calc(100% - var(--star-posV)), var(--star-grad)),
//         radial-gradient(circle at calc(100% - var(--star-posH)) calc(100% - var(--star-posV)), var(--star-grad)),

//         /* hoshi (star) points sides */
//         radial-gradient(circle at var(--star-posH)              calc(var(--test) + 50%),                           var(--star-grad)),
//         radial-gradient(circle at calc(100% - var(--star-posH)) 50%,                           var(--star-grad)),
//         radial-gradient(circle at 50%                           var(--star-posV),              var(--star-grad)),
//         radial-gradient(circle at 50%                           calc(100% - var(--star-posV)), var(--star-grad));

//     --test: calc(100px % 10);
//     --result: var(--test);
// }

// /* STONES */

// .point[stone] {
//     /* Green "undefined" stone */
//     background:
//         radial-gradient(at 30% 30%, #FFF5, 35%, transparent),
//         radial-gradient(#6c6, #4a4 45%, #282 70%);
// }

// .point.BLACK {
//     background:
//     radial-gradient(at 30% 30%, #FFF5, 35%, transparent),
//     radial-gradient(#555, #333 45%, #111 70%);
// }

// .point.WHITE {
//     background:
//     radial-gradient(at 30% 30%, #FFFE, 35%, transparent),
//     radial-gradient(#eee, #ccc 45%, #aaa 70%);
// }

// .point {
//     /* Make 'em round */
//     mask: radial-gradient(black 65%, transparent 70%);
//     -webkit-mask: radial-gradient(black 65%, transparent 70%);
// }

// /* POINT OVERLAYS */

// .point::after {
//     content: "";
//     display: block;
//     width: 100%;
//     padding-bottom: 100%;
    
//     opacity: 0;
//     transition: opacity .5s;
// }

// /* LAST MOVE HIGHLIGHT */

// .point[last]::after {
//     background: radial-gradient(transparent 32%, var(--highlight-color) 34% 42%, transparent 44%);
//     transition: opacity .1s;
//     opacity: 1;
// }
// .point[last][stone="BLACK"]::after { --highlight-color: lightgray; }
// .point[last][stone="WHITE"]::after { --highlight-color: gray; }

// /* RED HIGHLIGHT ON HOVER */

// .point:not([stone]):hover::after {
//     background: radial-gradient(transparent 24%, darkred 25% 30%, transparent 31%);
//     transition: opacity .1s;
//     opacity: 1;
// }

// /* This makes the row height the same as the column width
// (only necessary for boards without points) */
// .board::after {
//     content: "";
//     padding-top: 100%;
// }

// .point:focus {
//     background: green;
// }

// /* BOARD SIZES */

// .board[size="3"]        { --cols: 3;  --rows: 3;  --star: -1 !important; }
// .board[size="5"]        { --cols: 5;  --rows: 5;  --star: -1 !important; }
// .board[size="7"]        { --cols: 7;  --rows: 7;  --star: -1 !important; }
// .board[size="9"]        { --cols: 9;  --rows: 9;  --star: 2;  }
// .board[size="11"]       { --cols: 11; --rows: 11; --star: 2;  }
// .board[size="13"]       { --cols: 13; --rows: 13; }
// .board[size="15"]       { --cols: 15; --rows: 15; }
// .board[size="17"]       { --cols: 17; --rows: 17; }
// .board[size="19"]       { --cols: 19; --rows: 19; }
// .board[size="21"]       { --cols: 21; --rows: 21; }
// .board[size="23"]       { --cols: 23; --rows: 23; }
// .board[size="25"]       { --cols: 25; --rows: 25; }
// .board[size="27"]       { --cols: 27; --rows: 27; }

// .board[width="3"]       { --cols: 3;  --star: -1 !important; }
// .board[width="5"]       { --cols: 5;  --star: -1 !important; }
// .board[width="7"]       { --cols: 7;  --star: -1 !important; }
// .board[width="9"]       { --cols: 9;  --star: 2; }
// .board[width="11"]      { --cols: 11; --star: 2; }
// .board[width="13"]      { --cols: 13; }
// .board[width="15"]      { --cols: 15; }
// .board[width="17"]      { --cols: 17; }
// .board[width="19"]      { --cols: 19; }
// .board[width="21"]      { --cols: 21; }
// .board[width="23"]      { --cols: 23; }
// .board[width="25"]      { --cols: 25; }
// .board[width="27"]      { --cols: 27; }

// .board[height="3"]      { --rows: 3;  --star: -1 !important; }
// .board[height="5"]      { --rows: 5;  --star: -1 !important; }
// .board[height="7"]      { --rows: 7;  --star: -1 !important; }
// .board[height="9"]      { --rows: 9;  --star: 2; }
// .board[height="11"]     { --rows: 11; --star: 2; }
// .board[height="13"]     { --rows: 13; }
// .board[height="15"]     { --rows: 15; }
// .board[height="17"]     { --rows: 17; }
// .board[height="19"]     { --rows: 19; }
// .board[height="21"]     { --rows: 21; }
// .board[height="23"]     { --rows: 23; }
// .board[height="25"]     { --rows: 25; }
// .board[height="27"]     { --rows: 27; }

// .board[size="quarter"]  { --cols: 9;  --rows: 9; --star: 2; }
// .board[size="half"]     { --cols: 13; --rows: 13; }
// .board[size="full"]     { --cols: 19; --rows: 19; }
// .board[size="double"]   { --cols: 27; --rows: 27; }