<p>Log in to your Online Go (OGS) account</p>

<form (ngSubmit)="login()" #loginForm="ngForm">
    <input [(ngModel)]="username" type="text"     name="username" required>
    <input [(ngModel)]="password" type="password" name="password" required>

    <button [disabled]="loading || !loginForm.form.valid">Log in</button>
    
    <div *ngIf="error && !loginForm.form.valid">{{ error }}</div>
</form>