.arrow-select {

    $item-width: 8em;
    $item-height: 3em;

    width: $item-width;
    margin: auto;
    height: $item-height;
    line-height: $item-height;
    position: relative;

    input {
        display: none;
    }

    label {
        width: $item-width;
        position: absolute;
        text-align: center;
        
        transition: opacity .3s, transform .5s;
        
        transform: scale(.5) translateX(-$item-width);
        opacity: 0;
    }

    input:checked + label {
        transform: none;
        opacity: 1;

        ~ label {
            transform: scale(.5) translateX(+$item-width);
            z-index: 1;

            ~ label {
                z-index: 0;
            }
        }
    }

    box-sizing: content-box;
    padding: 0 $item-height;

    &::before, &::after {
        position: absolute;
        text-align: center;
        width: $item-height;
    }

    &::before {
        content: "<";
        left: 0;
    }

    &::after {
        content: ">";
        right: 0;
    }
}
