<!-- Select boardsize -->

<div class="arrow-select">
    <ng-container *ngFor="let size of boardsizes">
        <input [disabled]="automatchService.activeEntry"
            type="radio"
            [(ngModel)]="automatchService.activeEntry ? automatchService.activeEntry.size_speed_options[0].size : boardsize"
            [name]="size.value"
            [value]="size.value"
            [id]="size.value">
        <label [for]="size.value">{{ size.key }}</label>
    </ng-container>
</div>

<!-- Find game button -->

<button (click)="findMatch()"   [hidden]="automatchService.activeEntry">Find Game</button>

<!-- Cancel button -->

<button (click)="cancelMatch()" [hidden]="!automatchService.activeEntry">Cancel</button>