$theme-foreground: GhostWhite;
$theme-background: DarkSlateGray;
$theme-accent: DarkOrange;
$theme-black: Sienna;
$theme-white: Khaki;

$transition-short: .2s;
$transition-long:  .6s;

:root {
    color: $theme-foreground;
    background: $theme-background;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1.5em;
}

button {
    $size: 48px;

    min-width: $size;
    height: $size;
    border-radius: $size/2;
    border: none;
    padding: 0 $size/4;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px $theme-foreground;
    cursor: pointer;

    transition-duration: $transition-long;
    transition-property: color, background-color, box-shadow;

    &:hover {
        color: $theme-background;
        background-color: $theme-accent;
        box-shadow: inset 0 0 0 1px $theme-accent;

        transition-duration: $transition-short;
    }

    &.icon {
        box-shadow: none;
        padding: 0;
    }
}

nav {
    display: flex;
    justify-content: space-between;
}

.ribbon {
    background: orangered;
    color: whitesmoke;
    font-size: small;
    padding: 5px 40px;
    position: fixed;
    top: 0;
    right: 0;
    transform:
        translateY(-50%)
        rotate(45deg)
        translateX(35.35%);
    box-shadow: 0 0 6px -2px black;
}